*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h1{
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #ddd;
    text-decoration: underline;
    font-family: cursive;
}

#imageContainer {
    width: 78%;
    height: auto;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 20px;
    transition: background-color 0.3s ease;

}

#imageContainer img{
    width: 14.5rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.8s ease-in-out;
}

#imageContainer img:hover{
    transform: scale(1.1);

}
#loading{
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    z-index: 100;
    animation-fill-mode: forwards;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
    font-family: cursive;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        background-color: aqua;
        opacity: 1;

    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }

}