*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    
}
main{
    width: 75%;
    height: 95vh;
    margin: 1rem auto;
    padding: 0.5rem  0;
    background-color: white;
    box-shadow: 5px 5px 5px 2px grey;
}
.header{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.heading{
    margin-left: 4rem;
}
.main-content .content > h2{
    margin-top: 1rem;
    font-weight:bold;
    font-size: 1.2rem;
}
.main-content .content > p{
    text-align: justify;
}
.main-content{
    display: flex;
    justify-content: space-around;
}
small{
    color: blue;
}
span{
    margin-right: 3rem;
}
.blue-color{
    display: inline;
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    
}
.main-content > img{
    margin-top: 1rem;
    margin-left: -10%;
    width: 25%;
    height: 60vh;
}
.content{
    margin-left: -20%;
    width: 45%;
}
.btn-container{
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.price-buy{
    width: 20%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 0.5rem 2rem;
}
.price-buy > button{
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
}
.actors{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.helper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;

}
.actor-name{
    width: 25%;
    margin-bottom: 1rem;
   
}
.actor-name ul, .actor-name ul li{
    padding-top: 5px;
    list-style-type: none;
    color: blue;
}
.director{
    width: 30%;
}
.director p, .producer p, .screenwriter p{
    color: blue;
}
.screenwriter{
    margin-top: 2rem;
}
.trailer > button{
    width: 142px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0.1rem;
    margin-top: 1rem;
    margin-right: 2.5rem;
    border-radius: 20px;
    font-size: 0.7rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
}
.play-btn{
    width: 25px;
    height: 25px;
    margin-right: -10px;
    border-radius: 50%;
    background-color: white;
}
@media (max-width: 320px) {

    main{
        width: 90%;
        height: 90%;
        margin: 0.2rem auto;
        padding: 0.5rem  0;
        background-color: white;
        box-shadow: 2px 2px 2px 1px grey;
    }
    .header{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }
    .heading{
        margin-left: 2rem;
    }
    .main-content .content > h2{
        margin-top: 1rem;
        font-weight:bold;
        font-size: 0.8rem;
    }
    .main-content .content > p{
        text-align: justify;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    small{
        color: blue;
    }
    span{
        margin-right: 1rem;
    }
    .blue-color{
        display: inline;
        color: blue;
        font-weight: bold;
        font-size: 1rem;
        
    }
    .main-content > img{
        margin-top: 1rem;
        margin-left: 10px;
        width: 90%;
        height: 60vh;
    }
    .content{
        margin-left: 10px;
        width: 80%;
    }
    .btn-container{
        width: 100%;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .price-buy{
        width: 30%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: 0.5rem 2rem;
    }
    .price-buy > button{
        padding: 0.5rem 1.5rem;
        margin-left: 5rem;
        border-radius: 20px;
        font-size: 1rem;
        font-weight: bold;
       
    }
    .actors{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    .helper{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 50%;
    
    }
    .actor-name{
        width: 25%;
        margin-bottom: 1rem;
       
    }
    .actor-name ul, .actor-name ul li{
        padding-top: 5px;
        list-style-type: none;
        color: blue;
    }
    .director{
        width: 30%;
        margin-bottom: 1rem;
    }
    .director p, .producer p, .screenwriter p{
        color: blue;
    }
    .screenwriter{
        margin-top: 2rem;
    }
    .trailer > button{
        width: 142px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0.1rem;
        margin-top: 1rem;
        margin-left:3rem;
        border-radius: 20px;
        font-size: 0.7rem;
        color: white;
        text-align: center;
        text-transform: uppercase;
        background-color: black;
    }
    .play-btn{
        width: 25px;
        height: 25px;
        margin-right: -10px;
        border-radius: 50%;
        background-color: white;
    }

    
}