*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    cursor: pointer;
}
.logo{
    width: 90px;
    height: 40px;
}

.location{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: white;
}
nav .small-text{
    font-size: 13px;
    color: lightgray;

}
nav span:hover{
    color: #c2cad1;
}
.drop-down{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #c2cad1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#search-bar{
    width: 37%;
    margin-left: -4.8%;
    height: 40px;
    border: none;

}
.search-icon{
    width: 40px;
    height: 40px;
    background-color: rgb(222, 177, 14);
    margin-left: -5.1%;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cart{
    display: flex;
    align-items: center;
}
.banner img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.nav-list{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 49, 77);
    cursor: pointer;
}
.nav-list > ul{
    display: flex;
    color: white;
   justify-content: space-evenly;
   align-items: center;
   list-style-type: none;
   margin-left: 3rem;
   
}
.nav-list ul li{
    padding-left: 15px;
}
.nav-list li:hover{
    color: #c2cad1;
}
.nav-list p{
    color: white;
    padding: 10px;
    margin-right: 10%;
}
.card-section{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:whitesmoke;
}
.card-items{
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 40px;
    width: 300px;
    height:430px;
    background-color: white;
    box-sizing: content-box;
}
.content{
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.7s ease-in-out;
    cursor: pointer;
}
.content span{
    font-size: 1.2rem;
    color: blue;
    margin-left: -50%;
}
.card-items img{
    width: 250px;
    height: 300px;
}

.content:hover{
    transform: scale(1.1, 1.1);
    

}
.content:hover span{
    color: orange;
    text-decoration: underline;
}
.back-top{
    width: 100%;
    height: 50px;
    padding-top: 16px;
    text-align: center;
   
    background-color: rgb(3, 49, 77);
}
.back-top a{
    color: white; 
    text-decoration: none;
}
.back-top a:hover{
    color: #c2cad1;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(4, 37, 57);
}
.links{
    display: flex;
    flex-direction: column;
}
h3{
    color: white;
    padding-bottom: 10px;
}
.links a{
    color: #c2cad1;
    text-decoration: none;
    padding-top: 5px;


}
.links a:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

@media (max-width: 1300px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav{
        width: 100%;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        color: white;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        cursor: pointer;
    }
    .logo{
        width: 90px;
        height: 40px;
    }
    .location{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: white;
    }
    nav .small-text{
        font-size: 13px;
        color: lightgray;
    
    }
    .drop-down{
        width: 40px;
        height: 40px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #search-bar{
        width: 37%;
        margin-left: -5.1%;
        height: 40px;
        border: none;
    
    }
    .search-icon{
        width: 40px;
        height: 40px;
        background-color: rgb(222, 177, 14);
        margin-left: -5.1%;
        padding: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .cart{
        display: flex;
        align-items: center;
    }
    .banner > img{
        width: 100%;
        height: 40%px;
    }
    .nav-list{
        width: 100%;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgb(3, 49, 77);
        cursor: pointer;
    }
    .nav-list > ul{
       display: flex;
       color: white;
       justify-content: space-evenly;
       align-items: center;
       list-style-type: none;
       margin-left: 3rem;
       
    }
    .nav-list ul li{
        padding-left: 15px;
    }
    .nav-list li:hover{
        color: #c2cad1;
    }
    .nav-list p{
        color: white;
        padding: 10px;
        margin-right: 10%;
    }
    .card-section{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        justify-content: center;
        background-color:whitesmoke;
    }
    .card-items{
        margin-top: 1rem;
        margin-bottom: 4rem;
        margin-left: 40px;
        width: 80%;
        height:85%;
        background-color: white;
        box-sizing: border-box;
    }
    .content{
        padding: 1.1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: transform 0.7s ease-in-out;
        cursor: pointer;
    }
    .content span{
        font-size: 1.2rem;
        color: blue;
        margin-left: -50%;
    }
    .card-items img{
        width: 250px;
        height: 300px;
    }
    
    .content:hover{
        transform: scale(1.1, 1.1);
        
    
    }
    .content:hover span{
        color: orange;
        text-decoration: underline;
    }
    .back-top{
        width: 100%;
        height: 50px;
        padding-top: 16px;
        text-align: center;
       
        background-color: rgb(3, 49, 77);
    }
    .back-top a{
        color: white; 
        text-decoration: none;
    }
    .back-top a:hover{
        color: #c2cad1;
    }
    footer{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 25% 25% 30%;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgb(4, 37, 57);
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    h3{
        color: white;
        padding-bottom: 10px;
    }
    .links a{
        color: #c2cad1;
        text-decoration: none;
        padding-top: 5px;
    
    
    }
    .links a:hover{
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }
    
}

@media(max-width: 810px){
     *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav{
        width: 100%;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        color: white;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        cursor: pointer;
    }
    .logo{
        width: 90px;
        height: 40px;
    }
    .location{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: white;
    }
    nav .small-text{
        font-size: 13px;
        color: lightgray;
    
    }
    .drop-down{
        width: 40px;
        height: 40px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #search-bar{
        width: 33%;
        margin-left: -4.8%;
        height: 40px;
        border: none;
    
    }
    .search-icon{
        width: 40px;
        height: 40px;
        background-color: rgb(222, 177, 14);
        margin-left: -5.1%;
        padding: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .cart{
        display: flex;
        align-items: center;
    }
    .banner > img{
        width: 100%;
        height: 40%px;
    }
    .nav-list{
        width: 100%;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgb(3, 49, 77);
        cursor: pointer;
    }
    .nav-list > ul{
       display: flex;
       color: white;
       justify-content: space-evenly;
       align-items: center;
       list-style-type: none;
       margin-left: 3rem;
       
    }
    .nav-list ul li{
        padding-left: 15px;
    }
    .nav-list li:hover{
        color: #c2cad1;
    }
    .nav-list p{
        color: white;
        padding: 10px;
        margin-right: 2%;
    }
    .card-section{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        justify-content: center;
        background-color:whitesmoke;
    }
    .card-items{
        margin-top: 1rem;
        margin-bottom: 4rem;
        margin-left: 40px;
        width: 80%;
        height:85%;
        background-color: white;
        box-sizing: border-box;
    }
    .content{
        padding: 1.1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: transform 0.7s ease-in-out;
        cursor: pointer;
    }
    .content span{
        font-size: 1.2rem;
        color: blue;
        margin-left: -50%;
    }
    .card-items img{
        width: 250px;
        height: 300px;
    }
    
    .content:hover{
        transform: scale(1.1, 1.1);
        
    
    }
    .content:hover span{
        color: orange;
        text-decoration: underline;
    }
    .back-top{
        width: 100%;
        height: 50px;
        padding-top: 16px;
        text-align: center;
       
        background-color: rgb(3, 49, 77);
    }
    .back-top a{
        color: white; 
        text-decoration: none;
    }
    .back-top a:hover{
        color: #c2cad1;
    }
    footer{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30%  30%;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(4, 37, 57);
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    h3{
        color: white;
        padding-bottom: 10px;
    }
    .links a{
        color: #c2cad1;
        text-decoration: none;
        padding-top: 5px;
    
    
    }
    .links a:hover{
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }
}
@media (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    .banner{
        width: 100%;
        height: 40%;
    }
    .nav-list{
        display: none;
    }
    #search-bar{
        display: none;
        width: 33%;
        margin-left: -4.8%;
        height: 40px;
        border: none;
    
    }
    .search-icon{
        display: none;
    }
    .drop-down{
        display: none;
        width: 40px;
        height: 40px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .card-items{
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-left: 20px;
        width: 80%;
        height:85%;
        background-color: white;
        box-sizing: border-box;
    }
    .content{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: transform 0.7s ease-in-out;
        cursor: pointer;
    }
    .card-items img{
        width: 100%;
        height: 100%;

    }
    footer{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgb(4, 37, 57);
    }
    .links{
        width: 50%;
        margin-bottom: 20px;
    }
}
@media (max-width: 430px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    .banner{
        width: 100%;
        height: 40%;
    }
    .nav-list{
        display: none;
    }
    #search-bar{
        display: none;
        width: 33%;
        margin-left: -4.8%;
        height: 40px;
        border: none;
    
    }
    .search-icon{
        display: none;
    }
    .drop-down{
        display: none;
        width: 40px;
        height: 40px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .card-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .card-items{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 5px;
        width: 100%;
        height:100%;
        background-color: white;
        box-sizing: border-box;
    }
    .cart{
        display: flex;
        flex-direction: column;
    }
    .content{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.7s ease-in-out;
        cursor: pointer;
    }
    .card-items img{
        width: 90%;
        height: 90%;

    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(4, 37, 57);
    }
    h3{
        font-size: 1rem;

    }
    .links{
       width: 100%;
       padding-bottom: 20px;
    }
}