*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: white;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.outer{
    width: 4rem;
    height: 2.1rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
}
.outer p{
    margin-top: 2rem;
}
#inner{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0);
    border: none;
}
h1{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-family: cursive;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.color-container{
    width: 23%;
    height: 25vh;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    padding:4rem 3rem;
    color: #f2f2f2;
    font-size: 24px;
    border: 2px solid white;
    transition: all 0.5s ease-in-out;

}

.color-container:hover{
  
    transform: scale(1.1, 1.1);
}

@media (max-width: 768px) {

    body{
        font-size: 18px;
    }
   .container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
 
   }
   .header{
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
   }

   .color-container{
        width: 20%;
        height: 20%;
       font-size: small;
       margin: 5px;
       text-align: center;
       padding: 2rem 1rem;
   }  
}
